body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(26, 115, 232, 0.2);
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

h1 {
    color: #1a73e8;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #1a73e8;
}

nav ul li a:hover {
    text-decoration: underline;
}

#buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logout-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.7em;
}

#logout-button:hover {
    background-color: darkred;
}

input[type="text"],
input[type="password"],
select {
    padding: 0.7em;
    border: 1px solid #1a73e8;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
}

label {
    font-weight: bold;
    display: block; /* Make labels block elements */
    text-align: left; /* Align text to the left */
    margin-bottom: 0.5em; /* Add some space below the labels */
}

.form-group {
    margin-bottom: 1em;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: stretch; /* Ensure form elements stretch to full width */
    position: relative;
}

button[type="submit"] {
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.7em 1.5em;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #155ab6;
}

#error-message {
    color: red;
    display: none;
}
